

      .sidenav {
        height: 100%; 
        width: 0; 
        position: fixed; 
        pointer-events: auto; 
        z-index: 9997; 
        left: 0;
        top: 0; 
        top: 0; 
        left: 0;
        background-color: white; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
      }

      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
      }

      
      .sidenav a:hover {
        color: #999999;
      }

      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      
      #main {
        transition: margin-left .5s;
        padding: 20px;
      }

      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      
      .secondary-sidenav {
        height: 100%;
        width: 0; 
        position: fixed;
        z-index: 9996; 
        left: 0; 
        top: 0;
        background-color: #f1f1f1; 
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s; 
        
      }

      
      .secondary-sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px; 
        color: black;
        display: block;
        transition: 0.3s;
      }

      .secondary-sidenav a:hover {
        color: #999999;
      }

      
      .secondary-sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      
@media screen and (max-width: 768px) {
  
  .sidenav {
    width: 0;
    max-width: 100%;
  }

  
  .secondary-sidenav {
    width: 0;
    max-width: 100%;
    left: 0 !important; 
    z-index: 9998; 
  }

  
  .secondary-sidenav .backbtn {
    display: inline-block;
    padding: 15px 8px 0px 32px;
    font-size: 18px;
    color: black;
    text-decoration: none;
  }
}


@media screen and (min-width: 769px) {
  .secondary-sidenav .backbtn {
    display: none; 
  }
}

     